* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.logo-mario {
    height: 200px;
}

button {
    color: white;
    background-color: #C51111;
    border-radius: 3px;
    border: none;
    width: 200px;
    height: 50px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 20px;

}

.mario1 {
    height: 500px;
}

body {
    
    height: 100vh;
    width: 100vw;

}

.caixa-mae {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 100px;
    font-size: 20px;


}

.caixa-principal {
    width: 40%;
    color: white;

}

.caixa-video {
    position: fixed;
    top: 0;
    z-index: -1;

}

video {

    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;


}

.mascara {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    z-index: -1;

}

.header a:hover {
    color: #C51111;
    font-size: 30px;
    transition: 1s color ease-in-out;
}


.link-whatsapp img {
    width: 60px;
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.header {
    display: flex;
    align-items: center;
    gap: 30px;

}

.header img {
    height: 60px;
    margin: 30px;
}

.header a {
    color: white;
    font-size: 30px;
    cursor: pointer;
}

button:hover {

    color: blue;
    font-size: 20px;
    transition: 1s color ease-in-out;
    background: greenyellow;

}

.formulario-fale-conosco {

    background-color: white;
    display: flex;
    gap: 20px;
    flex-direction: column;
    position: fixed;
    top: 30%;
    left: -300px;
    padding: 20px;
    border-radius: 5px;


}

input {
    height: 48px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 5px;
    outline-color: forestgreen;
}

textarea {
    width: 270px;
    height: 100px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 5px;
    outline-color: forestgreen;
}

.mascara-formulario {
    visibility: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);


}